@font-face {
  src: url("../fonts/UbuntuCondensed.ttf");
  font-family: UbuntuCondensed;
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode.otf");
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans.ttf");
}

.text-fira-code {
  font-family: "FiraCode", sans-serif;
}

.text-fira-sans {
  font-family: "FiraSans", sans-serif;
}


body {
  height: 95vh;
  background: linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
  ), url("../images/main-background.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  font-family: UbuntuCondensed, sans-serif;
}